*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: hsl(217, 54%, 11%);
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
}

.container {
  width: 350px;
  height: 600px;
  padding: 21px;
  border-radius: 10px;
  background-color: hsl(216, 50%, 16%);
  margin: 15px auto;
}

.img {
  position: relative;
}

.img-inicial {
  width: 100%;
  height: 10%;
  border-radius: 5%;
  margin-bottom: 10px;
}

.img-inicial:hover {
}

.img-inicial-2 {
  position: absolute;
  top: 40%;
  left: 40%;
  opacity: 0;
  transition: opacity 0.5s;
  width: 20%;
  height: 16%;
  }

  .img:hover .img-inicial-2 {
    opacity: 1;
  }

.conteudo-principal h1{
  color: hsl(0, 0%, 100%);
  margin: 10px 0 15px 0;
  padding: 5px;
  font-weight: 600;
  text-decoration: none;
}

h1:hover {
  color: hsl(178, 100%, 50%);  
}

.conteudo-principal p {
  color: hsl(215, 51%, 70%);
  margin: 10px 0 15px 0;
  padding: 5px;
  font-size: 16px;
  font-weight: 400;
}

.conteudo-secundario {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 15px 0;
  padding: 5px;
  border-bottom: 1px solid hsl(215, 32%, 27%);
  padding-bottom: 20px;
}

.cont-eth {
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(178, 100%, 50%);  
  font-weight: 400;
  font-size: 16px;
}

.cont-date {
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(215, 51%, 70%);
  font-weight: 400;
  font-size: 16px;
}

.cont-rada-pe {
  display: flex;
  align-items: center;
  font-size: 16px;
  text-align: center;
}

.cont-rada-pe img {
  width: 10%;
  border-radius: 50%;
  border: 2px solid white;
  margin-right: 15px;
  }

  .cont-rada-pe p {
    font-size: 16px;
    text-align: center;
    color: hsl(215, 51%, 70%);  
  }

  .cont-rada-pe p a{
    font-size: 16px;
    text-align: center;
    color: #fff;
  }

  .cont-rada-pe p a:hover {
    color: hsl(178, 100%, 50%);
  }